<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doan">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_icon"
        android:label="Nhà Nấm"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doan"
        tools:targetApi="31">
        <activity
            android:name=".reset"
            android:label="Reset điện năng"
            android:exported="false" />
        <activity
            android:name=".caidatdien"
            android:exported="false"
            android:label="Cài Đặt Tiền Điện" />
        <activity
            android:name=".caidatnam"
            android:exported="false"
            android:label="Cài Đặt Nhà Nấm" />
        <activity
            android:name=".setting"
            android:exported="false"
            android:label="Cài Đặt" />
        <activity
            android:name=".diennang"
            android:exported="false"
            android:label="Điện Năng" />
        <activity
            android:name=".nhanam"
            android:exported="false"
            android:label="Nhà Nấm" />
        <activity
            android:name=".trangchu"
            android:exported="false"
            android:label="Trang Chủ" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>